/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme_dark {
  --main-font: 'IBM Plex mono';
  --main-text-color: #f1b2ce;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --focus-color: #ff0070;
  --hover-color: rgb(255 0 112 / 0.4);
  --heading-text-color: #ff0070;
  --main-text-size: 18px;
  --head-text-size: 116px;
  --head-text-color: #db00ff;
  --bg-img: url(../images/cover-image-dark.png);
}

.theme_dark .header_rec {
  position: absolute;
  right: 15px;
  top: 11px;
  font-size: var(--main-text-size, 18px);
  font-family: var(--main-font, 'IBM Plex mono');
  color: var(--accent-color, #ff0070);
}

.theme_dark .header_rec::after {
  display: inline-block;
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  filter: blur(2px); /* размытие границ у круга */
  /* padding-inline-start: 5px; */
}

@media (prefers-color-scheme: dark) {

  :root {
    --main-font: 'IBM Plex mono';
    --main-text-color: #f1b2ce;
    --bg-color: #000028;
    --accent-color: #ff0070;
    --accent-text-color: #000028;
    --focus-color: #ff0070;
    --hover-color: rgb(255 0 112 / 0.4);
    --heading-text-color: #ff0070;
    --main-text-size: 18px;
    --head-text-size: 116px;
    --head-text-color: #db00ff;
    --bg-img: url(../images/cover-image-dark.png);
  }

  .theme_dark .header_rec {
    position: absolute;
    right: 6px;
    top: 11px;
    font-size: var(--main-text-size, 18px);
    font-family: var(--main-font, 'IBM Plex mono');
    color: var(--accent-color, #ff0070);
  }

  .theme_dark .header_rec::after {
    display: inline-block;
    content: '';
    inline-size: 15px;
    block-size: 15px;
    background-color: var(--accent-color, #ff0070);
    border-radius: 50%;
    filter: blur(2px); /* размытие границ у круга */
    /* padding-inline-start: 5px; */
  }

  .theme_auto .header_rec {
    position: absolute;
    right: 6px;
    top: 11px;
    font-size: var(--main-text-size, 18px);
    font-family: var(--main-font, 'IBM Plex mono');
    color: var(--accent-color, #ff0070);
  }

  .theme_auto .header_rec::after {
    display: inline-block;
    content: '';
    inline-size: 15px;
    block-size: 15px;
    background-color: var(--accent-color, #ff0070);
    border-radius: 50%;
    filter: blur(2px);
  }
}

@media (375px <= width <= 768px) {

  .theme_dark .header_rec {
    position: absolute;
    right: 25px;
    top: 20px;
  }
}

@media (width > 768px) {

  .theme_dark .header_rec {
    position: absolute;
    right: 25px;
    top: 20px;
  }
}
