/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  margin: 0 auto;
  color: var(--main-text-color, #f1b2ce);
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, 'IBM Plex mono');
  background-image: var(--bg-img, url(../images/cover-image-light.png));
  background-attachment: fixed; /* фон перемещается при прокрутке */
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 10px; */
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.header {
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  margin-block-end: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-template-columns: 1fr; */
}

.button {
  color: var(--accent-color, #ff0070);
}

.header__theme-menu-button {
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color, #ff0070);
  outline-offset: -1px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--active-color, #ff0070);
  outline-offset: -1px;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--focus-color, #ff0070);
  /* outline-offset: -1px; */
}

.header__theme-menu {
  grid-row: 1/2;
  align-self: center;
  justify-self: last baseline;
  margin-block-start: 23px;
  font-size: var(--main-text-size, 18px);

  /* margin-inline-start: auto;
  margin-inline-end: 0; */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  gap: 10px;
}

.header__theme-menu-item {
}

.title {
  grid-row: 2/3;
  align-self: last baseline;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--head-text-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  margin-block-end: 16px;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 10px;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
  position: absolute;
  display: block;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 0;
  inset-block-end: 10px;
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.header__description {
  grid-row: 3/4;
  align-self: center;
  font-family: var(--main-font, 'IBM Plex mono', sans-sefif);
  font-size: var(--main-text-size, 18px);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--accent-text-color, #000028);
  background-color: var(--accent-color, #ff0070);
  margin-block-end: 26px;
}

.heading {
  font-family: var(--main-font, 'IBM Plex mono', sans-sefif);
  font-size: var(--main-text-size, 18px);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--heading-text-color, #ff0070);
  padding-block-end: 20px;
}

.content {
  margin-block-end: 50px;
}

.content__title {
  padding: 0;
  margin-block-end: 10px;
  color: var(--accent-text-color, #000028);
  background-color: var(--accent-color, #ff0070);
  line-height: 23.4px;
}

.content__text {
  margin: 0 auto;
  font-size: var(--main-text-size, 18px);
  line-height: 23.4px;
}

.content .content__text:not(:last-of-type) {
  margin-block-end: 20px;
}

.content__text a {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

a:hover {
  border-block-end: 1px solid var(--focus-color, #ff0070);
}

a:focus-visible {
  outline: 1px solid var(--focus-color, #ff0070);
  outline-offset: -1px;
}

.advice .content__title {
  margin-block-end: 18px;
}

.advice__title {
  padding: 0;
  margin-block-end: 10px;
  font-size: var(--main-text-size, 18px);
  font-weight: 400;
  color: var(--accent-text-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.content__images {
  display: grid;
  row-gap: 10px;
}

.picture {
  display: inline-block;
  inline-size: 100%;
  /* max-width: 355px; */
}

.footer {
  position: relative;
  block-size: 100vh;
  min-height: 667px;
}

.footer .title {
  text-align: center;
  padding-block-start: 286px;
  padding-block-end: 296px;
  margin-block-start: 40px;
}

@media (375px <= width <= 768px) {

  .header {
    padding-inline-start: 0;
  }

  .title {
    justify-self: start;
  }

  .header__description {
    justify-self: end;
    max-inline-size: 50vw;
    min-inline-size: 355px;
  }

  .basis {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    grid-template-areas: 'heading content';
  }

  .basis__title {
    grid-area: heading;
    align-self: first baseline;
  }

  .basis__content {
    grid-area: content;
  }

  .reasons {
    display: grid;
    grid-template-rows: 70px 1fr;
    gap: 20px;
  }

  .reasons__title {
    max-inline-size: 236px;
    justify-self: first baseline;
  }

  .advice {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    grid-template-areas: 'heading content';
  }

  .advice__head_title {
    grid-area: heading;
    align-self: first baseline;
  }

  .advice__content {
    grid-area: content;
  }

  .content__images {
    display: grid;
    max-width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .picture {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .picture_sunset {
    grid-column: span 2; /* span указывает, сколько ячеек займет объект */
  }

  .picture_ice-cream {
    grid-row: span 2;
  }

  .picture_tape {
    grid-row: span 2;
  }

  .picture_books {
  }

  .picture_street {
    grid-column: span 2;
  }
}

@media (768px < width <= 1024px) {
}
